::-webkit-scrollbar {
    display: none;
}

/* Base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #040716;
    height: 100%;
    width: 100%;
}
/* // */

/* Loading */
.Loading {
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    height: 4em;
    width: 4em;
    border: 6px solid aqua;
    border-radius: 5px;
    box-shadow: 0 0 8px aqua, 0 0 8px aqua inset;

    animation: 2s loading linear infinite;
}
/*
.Loading::before, .Loading::after {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -10;

    border: 6px solid aqua;
    border-radius: 5px;
    height: 3em;
    width: 3em;
}
.Loading::before {
    filter: blur(1rem);
    opacity: 0.3;
}
*/

@keyframes loading {
    0%{
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    33%{
        transform: rotateX(180deg) rotateY(0) rotateZ(0);
    }
    67%{
        transform: rotateX(180deg) rotateY(180deg) rotateZ(0);
    }
    100%{
        transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    }
}
/* // */